/* .card-img-top {
    height: 200px;
}
.card-footer {
    padding: 0;
}
.card {
    margin-bottom: 1rem;
    width: 20rem;
}
.card-footer button {
    cursor: pointer;
} */

.card {
  margin-bottom: 30px;
}

.card-img-top {
  height: 200px;
}

.card-footer {
  padding: 0;
  background: #fff;
}

.card-footer button {
  cursor: pointer;
  text-transform: uppercase;
}
