<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input #title="ngModel" [(ngModel)]="product.title" name="title" type="text" id="title" class="form-control" required>
        <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
          Title is required.
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input #price="ngModel" [(ngModel)]="product.price" name="price" type="number" id="price" class="form-control" required [min]="0">
        </div>
        <div *ngIf="price.touched && price.invalid" class="alert alert-danger">
          <p *ngIf="price.errors.required">Price is required.</p>
          <p *ngIf="price.errors.min">Price should be 0 or higher.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
          <option value=""></option>
          <option *ngFor="let category of categories$ | async" [value]="category.$key">{{ category.name }}</option>
        </select>
        <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
          Category is required.
        </div>
      </div>

      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" type="text" id="imageUrl" class="form-control" required url>
        <div *ngIf="imageUrl.touched && imageUrl.invalid" class="alert alert-danger">
          <p *ngIf="imageUrl.errors.required">Image URL is required.</p>
          <p *ngIf="imageUrl.errors.url">Image URL is invalid.</p>
        </div>
      </div>

      <button class="btn btn-primary">Save</button>
      <button (click)="delete()" class="btn btn-danger">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <div *ngIf="product.title" class="card" style="width: 20rem;">
      <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl">
      <div class="card-body">
        <h4 class="card-title">{{ product.title }}</h4>
        <p class="card-text">{{ product.price | currency:'USD': true }}</p>
      </div>
    </div>
  </div>
</div>
