<h1>Shipping</h1>


<form>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
  </div>

  <div class="form-group">
    <label for="address">Adress</label>
    <input type="text" id="address" name="address" class="form-control" placeholder="Address">
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input type="text" id="city" name="city" placeholder="city" class="form-control">
  </div>

  <button (click)="placeOrder()" class="btn btn-primary">Place Order</button>
</form>
